
{% extends "cslabman/base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class = "content-section">
  <fieldset class="form-group">

<h1>{% trans "Login" %}</h1>




<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>
<p> <small> Please input your pipeline credentials </small></p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="primaryAction" type="submit">{% trans "Login" %}</button>
</form>

{% endblock %}
 </fieldset>
</div>